<!DOCTYPE html>
<html>
<head>
    <title>Product's List</title>
</head>
<body>
    <h1>Product's List</h1>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Thumbnail</th>
            <th>Code</th>
            <th>Stock</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.thumbnail}}</td>
            <td>{{this.code}}</td>
            <td>{{this.stock}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>
